/* 웹 폰트 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.main-bg {
  height: 300px;
  /* background-image: url('./img/bg.png'); */
  background-size: cover;
  background-position: center;
}

#prd-container {
  padding: 0px 12px 12px;
}

#prd-img {
  width: 85%;
  height: 70%;
  background: rgb(252, 252, 252);
  border-radius: 5%;
  margin: 2%;
}

#prd-title {
  padding: 10px;
}

.App {
  text-align: center;
  /* 이쁜 글씨 */
  font-family: 'Pretendard-Regular'; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
